<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Cars</title>
    </head>

    <body>

    <h1>Cars</h1>

   <table border="1">
        <thead>
        <tr>
           <th>Id</th>
            <th>Model</th>
            <th>Color</th>
       </tr>
      </thead>
       <tbody>
        <tr th:each="car : ${cars}">
           <td th:text="${car.getId()}">Id</td>
            <td th:text="${car.getModel()}">Model</td>
            <td th:text="${car.getColor()}">Year</td>
        </tr>
        </tbody>
    </table>


    </body>
</html>